<h1>Datos personales</h1>
<div class="p-fluid">
    <div class="p-grid">

        <!-- Columna 1 -->
        <div class="p-col-12 p-md-6">
            <div class="p-field">
                <label for="numeroColegiado">Nº Colegiado</label>
                <input id="numeroColegiado" type="text" pInputText />
            </div>
            <div class="p-field">
                <label for="apellido1">Apellido 1</label>
                <input id="apellido1" type="text" pInputText />
            </div>
            <div class="p-field">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" pInputText />
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="p-col-12 p-md-6">
            <div class="p-field">
                <label for="nif">NIF</label>
                <input id="nif" type="text" pInputText />
            </div>
            <div class="p-field">
                <label for="apellido2">Apellido 2</label>
                <input id="apellido2" type="text" pInputText />
            </div>
            <div class="p-field">
                <label for="fechaNacimiento">Fecha Nacimiento</label>
                <input id="fechaNacimiento" type="date" pInputText />
            </div>
        </div>

    </div>
</div>

