.nav {
    flex: 0 0 250px;
    padding: 20px;
    ;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.nav .card {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}